#title {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
  width: 70px;
  height: auto; 
}

#celebrities {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 3px solid #ddd;
  width: 80%;
  margin: 10%;
}